.sponsorAd {
  position: fixed;
  top: 250px;
  right: -550px;
  z-index: 10000;
  width: 500px;
  transition-duration: 0.8s;
  .sponsorAdImg {
    width: 100%;
    height: auto;
  }
  &.visible {
    right: 0;
    transition-duration: 0.8s;
    animation: pulse 1s infinite;
  }
}

// pulsing animation
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
