.footer {
  background-color: #d66364;

  justify-content: center;
  align-items: center;
  padding: 1rem;
  column-gap: 0.5rem;
  display: none;
  @media screen and (max-width: 1000px) {
    display: flex;
  }
}
