.donut {
  position: fixed;
  top: 120px;
  right: 30px;
  width: 100px;
  z-index: 9999;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
  @media screen and (max-width: 1000px) {
    top: auto;
    bottom: 10px;
    right: 10px;
    width: 70px;
  }
  @media screen and (max-width: 750px) {
    top: 140px;
    right: 20px;
    bottom: auto;
    width: 60px;
  }
}
