.menu_desktop {
  position: fixed;
  bottom: 85vh;
  left: 0;
  width: 100vw;
  height: 15vh;
  background-color: #1b1e21e8;
  z-index: 999;
}

.logo {
  position: absolute;
  left: 3vw;
  top: 1vh;
}

.dona {
  position: absolute;
  left: 93vw;
  top: 2vh;
  border-radius: 100%;
}