.menu_desktop {
  position: fixed;
  bottom: 0vh;
  left: 0;
  width: 15vw;
  height: 100vh;
  z-index: 999;
}

.menu_mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-image: url("/img/menu/barra_superior.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 999;
}

.menu_button {
  position: absolute;
  left: 77vw;
  top: 3.9vh;
}

.logo_desktop {
  position: absolute;
  left: 2vw;
  top: 17vh;
}

.logo_mobile {
  position: absolute;
  left: 44vw;
  top: 0.5vh;
}


.tienda {
  top: 56vh; 
}
.ruidodeldia {
  top: 61vh;
}
.editorial {
  top: 66vh;
}
.eventos {
  top: 71vh;
}
/*.radioteca {
  top: 74vh;
}*/
.sesiones {
  top: 76vh;
}
.programacion {
  top: 81vh;
}
.locutores {
  top: 86vh;
}
.quees {
  top: 91vh; 
}


.tienda_mobile {
  top: 11vh; 
}
.ruidodeldia_mobile {
  top: 15vh;
}
.editorial_mobile {
  top: 19vh;
}
.eventos_mobile {
  top: 23vh;
}
/*.radioteca_mobile {
  top: 23vh;
}*/
.sesiones_mobile {
  top: 27vh;
}
.programacion_mobile {
  top: 31vh;
}
.locutores_mobile {
  top: 35vh;
}
.quees_mobile {
  top: 36vh; 
}

.menu_item_mobile {
  position:absolute;
  left: 64vw;
}

.menu_item {
  position:absolute;
  left: 3.3vw;
}

.menu_container {
  background-color: rgba(248, 243, 212, 0.904);
  margin-top: 10vh;
  margin-left: 62vw;
  width: 36vw;
  padding-top: 29vh;
}

.invisible {
  display:none;
}

.menu_link:hover {
  color:rgb(16, 230, 16);
}