.player_desktop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
  }

.speaker {
    position: fixed;
    left: 67vw;
    top: 4.6vh;
    z-index: 7;
}

.insta {
  position: fixed;
  left: 83vw;
  top: 3.8vh;
  z-index: 7;
}

.spoti {
  position: fixed;
  left: 87vw;
  top: 3.8vh;
  z-index: 7;
}

.face {
  position: fixed;
  left: 91vw;
  top: 3.8vh;
  z-index: 7;
}

.icon {
  position: fixed;
  left: 95vw;
  top: 3.8vh;
  z-index: 7;
}
  
.player_mobile {
    position: fixed;
    top: 9.8vh;
    z-index: 1;
}