.player_desktop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
  }

  .speaker {
    position: fixed;
    left: 84vw;
    top: 3.8vh;
    z-index: 7;
  }
  
  .player_mobile {
    position: fixed;
    top: 10vh;
    border-radius: 100%;
  }