.mobile_banner {
  position: sticky;
  top: 83vh;
  margin-left: 9vw;
  z-index: 10;
  margin-top: -50px;
}

.desktop_banner {
  position: sticky;
  top: 76vh;
  padding-left: 25vw;
  z-index: 10;
  margin-top: -90px; 
}

.close {
    width: 3vh;
    z-index: 15;
    padding-bottom: 9vh;
    cursor: pointer;
}

.close_mobile {
  width: 2vh;
  z-index: 15;
  padding-bottom: 4vh;
}

.invisible {
    display: none;
}