  .icons_desktop {
    position: absolute;
    top: 3vh;
  }
  .icons_desktop .box {
    display: inline-block;
    vertical-align: top;
  }
  
  .icons_mobile {
    display: none;
  }
  
  @media only screen and (max-width: 1000px) {
    .icons_desktop {
      display: none;
    }
    .icons_mobile {
      display: block;
    }
  }
  