.model model-viewer {
  width: 600px;
  height: 450px;
  background-color: transparent;
  --poster-color: transparent;
  top: 11vh;
  left: 28vw;
}

@media only screen and (max-width: 1000px) {
  .model model-viewer {
    width: 100%;
    top:20vh;
    left:0;
    background-color: transparent;
    --poster-color: transparent;
    position: absolute;
  }
}
