.section {
    position: relative;
    top: 8vh;
    min-width: 100vw;
    padding-top: 10vh;
    padding-left: 17vw;
    padding-right: 3vw;
}

.section_mobile {
    position: static;
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 12vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

.titulo {
   padding-bottom: 3vh;
}

.titulo_mobile {
    padding-top: 4vh;
    margin-left: 20vw;
    padding-bottom: 2vh;
    z-index: -1;
}