.pageBackground {
  background-position: 50% 15%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: 1000px) {
    background-position: 50% 15%;
  }
}
