/* CARRUSELES NOTICIAS y ARCHIVO */
/* Desktop */
.font_blurb {
  padding-left: 1vw;
  padding-top: 3vh;
  width: 23vw;
  font-family: "ContentFont", sans-serif;
  font-size: 2vh;
}
.font_titulo {
  padding-top: 1vh;
  padding-left: 1vw;
  width: 23vw;
  font-family: "PlayerFont", sans-serif;
  font-size: 2vw;
}
.font_tipo {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  width: 23vw;
  font-family: "PlayerFont", sans-serif;
  font-size: 1.2vw;
}
.link {
  color: blue;
}
.mini_noticia {
  /* CONTAINER mini noticia */
  background-color: rgba(216, 216, 249, 0.38);
  width: 24vw;
  height: 62vh;
  overflow-y: scroll;
}
.editorial {
  /* CONTAINER editorial */
  background-color: rgba(216, 216, 249, 0.38);
  width: 26vw;
  height: 90;
  overflow-y: scroll;
  margin-bottom: 5vh;
  padding-bottom: 3vh;
}
.otra_foto {
  /* FOTO editorial */
  cursor: pointer;
  margin-left: 1vw;
}
/* Mobile */
.font_titulo_mobile {
  padding-top: 1vh;
  padding-left: 1vw;
  width: 100vw;
  font-family: "PlayerFont", sans-serif;
  font-size: 4vh;
}
.font_tipo_mobile {
  padding-top: 1vh;
  padding-left: 1vw;
  width: 100vw;
  font-family: "PlayerFont", sans-serif;
  font-size: 3vh;
}
.mini_noticias_mobile {
  background-color: rgba(216, 216, 249, 0.38);
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* PORTADA RARO & SPA */
/* Desktop */
.cover_container {
  /* CONTAINER portada, raro, y SPA */
  background-color: rgba(216, 216, 249, 0.38);
  margin-bottom: 4vh;
}
.cover {
  /* IMAGEN portada, raro, y SPA */
  padding-top: 7vh;
  padding-left: 5vw;
  margin-bottom: 3vh;
}
.boton_mas {
  /* LEER MAS portada, raro, y SPA */
  margin-left: 35vw;
  padding-bottom: 6vh;
}
.font_cover {
  /* TITULO portada */
  padding-top: 1vh;
  padding-left: 26vw;
  width: 75vw;
  font-family: "PlayerFont", sans-serif;
  font-size: 3vw;
}
.cover_blurb_font {
  /* BLURB portada */
  padding-left: 9vw;
  padding-right: 9vw;
  font-family: "ContentFont", sans-serif;
  font-size: 3vh;
  white-space: pre-wrap;
}
/* Mobile */
.cover_container_mobile {
  /* CONTAINER portada, raro, y SPA */
  background-color: rgba(216, 216, 249, 0.38);
  margin-bottom: 4vh;
  width: 95vw;
}
.cover_mobile {
  margin-bottom: 3vh;
}
.boton_mas_mobile {
  margin-left: 28vw;
  padding-bottom: 3vh;
}
.cover_blurb_font_mobile {
  padding-left: 7vw;
  padding-right: 7vw;
  font-family: "ContentFont", sans-serif;
  font-size: 4vw;
  white-space: pre-wrap;
}
.font_cover_mobile {
  padding-left: 15vw;
  width: 95vw;
  font-family: "PlayerFont", sans-serif;
  font-size: 3.5vh;
}

.newsTitle {
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  @media screen and (max-width: 1000px) {
    padding: 1.5rem;
    font-size: 2rem;
    line-height: 2rem;
  }
}
.newsBody {
  padding: 1.1rem;
  font-size: 1rem;
  line-height: 1rem;
  @media screen and (max-width: 1000px) {
    padding: 1.5rem;
    font-size: 1rem;
    line-height: 1rem;
  }
}
