.font_blurb {
    padding-left: 1vw;
    padding-top: 3vh;
    width: 23vw;
    font-family: "ContentFont", sans-serif;
    font-size: 2vh;
}

.font_titulo {
    padding-top: 1vh;
    padding-left: 1vw;
    width: 23vw;
    font-family: "PlayerFont", sans-serif;
    font-size: 2vw;
}

.font_tipo {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    width: 23vw;
    font-family: "PlayerFont", sans-serif;
    font-size: 1.2vw;
}

.cover_container {
    background-color: rgba(216, 216, 249, 0.38);
    margin-bottom: 4vh;
}

.font_cover {
    padding-top: 1vh;
    padding-left: 30vw;
    width: 75vw;
    font-family: "PlayerFont", sans-serif;
    font-size: 5vw;
}

.font_raro {
    padding-top: 1vh;
    padding-left: 33.5vw;
    width: 75vw;
    font-family: "PlayerFont", sans-serif;
    font-size: 5vw;
}

.font_SPA {
    padding-top: 1vh;
    padding-left: 19vw;
    width: 75vw;
    font-family: "PlayerFont", sans-serif;
    font-size: 5vw;
}

.cover {
    padding-left: 5vw;
    margin-bottom: 7vh;
}

.raro {
    padding-left: 5vw;
    margin-bottom: 3vh;
    padding-bottom: 4vh;
}

.cover_blurb_font {
    padding-left: 5vw;
    padding-right: 5vw;
    font-family: "ContentFont", sans-serif;
    font-size: 2.5vh;
}

.boton_mas {
  margin-left: 34vw;
  padding-bottom: 6vh;
   /*margin-left: 34vw;
    background-color: black;
    color: rgb(248, 104, 104);
    font-family: "PlayerFont", sans-serif;
    font-size: 3.2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 0.5vw;
    margin-bottom: 10vh;*/
}

.mini_noticia{
    background-color: rgba(216, 216, 249, 0.38);
    width: 24vw;
    height: 62vh;
    overflow-y: scroll;
}

.editorial{
    background-color: rgba(216, 216, 249, 0.38);
    width: 26vw;
    height: 90;
    overflow-y: scroll;
    margin-bottom: 5vh;
    padding-bottom: 3vh;
}

.titulo {
    padding-bottom: 3vh;
}

.otra_foto {
    cursor: pointer;
    margin-left: 1vw;
}

.link {
    color: blue;   
}

.font_titulo_mobile {
    padding-top: 1vh;
    padding-left: 1vw;
    width: 100vw;
    font-family: "PlayerFont", sans-serif;
    font-size: 4vh;
}

.font_tipo_mobile {
    padding-top: 1vh;
    padding-left: 1vw;
    width: 100vw;
    font-family: "PlayerFont", sans-serif;
    font-size: 3vh;
}

.font_cover_mobile {
    padding-top: 1vh;
    padding-left: 20vw;
    width: 100vw;
    font-family: "PlayerFont", sans-serif;
    font-size: 7vh;
}

.font_raro_mobile {
    padding-top: 1vh;
    padding-left: 31vw;
    width: 100vw;
    font-family: "PlayerFont", sans-serif;
    font-size: 7vh;
}

.font_SPA_mobile {
    padding-top: 1vh;
    padding-left: 31vw;
    width: 100vw;
    font-family: "PlayerFont", sans-serif;
    font-size: 7vh;
}

.mini_noticia_mobile {
    background-color: rgba(37, 37, 118, 0.38);
    width: 100vw;
    height: 62vh;
    overflow-y: scroll;
}

.raro_mobile {
  padding-bottom: 5vh;
};