.flyer {
  margin-left: -0.8vw;
  margin-top: 1vh;
}

.event_desc {
  margin-top: 1vh;
  width: 20vw;
  font-family: "ContentFont", sans-serif;
  font-size: 2vh;
}

.event_desc_mob {
  margin-left: 4vw;
  margin-top: 1vh;
  width: 80vw;
  font-family: "ContentFont", sans-serif;
  font-size: 2vh;
}

.boton_registro {
  color: blue;
}

.instagram_embed_mobile {
  padding-left: 2vw;
}
