@font-face {
  font-family: "ContentFont";
  src: url("/fonts/HelveticaRoundedLTStd-Bd.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
p.customfont { 
    font-family: "ContentFont", sans-serif;
    font-size: 3.5vh;
    margin-right: 4vw;
    margin-top: 0vh;
    padding-bottom: 20vh;
}

p.mobilefont { 
  font-family: "ContentFont", sans-serif;
  font-size: 2vh;
  margin-left: 3vw;
  margin-right: 4vw;
  margin-top: 3vh;
}