.sesion {
  width: 35vw;
  height: 45vh;
  background-color: rgba(216, 216, 249, 0.38);
  padding: 1.5vw;
  border-radius: 1vw;
}

.sesion_mobile {
  width: 95vw;
  margin-bottom: 6vh;
  margin-top: 3vh;
  height: 28vh;
  background-color: rgba(216, 216, 249, 0.38);
  padding: 4vw;
  border-radius: 2vw;
}