html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#root {
  height: 100%;
}

.iframe-container {
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.iframe-container {
  width: 100%;
  height: 100vh; /* Ajusta según tus necesidades */
  overflow: hidden; /* Oculta el scroll del iframe */
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "PlayerFont";
  src: url("/fonts/ConcertOne-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
p.customfont {
  font-size: 3.5vh;
  margin-left: 3vw;
  margin-right: 4vw;
  margin-top: 3vh;
}

/* RADIO */

.radioco-playButton-playing,
.radioco-playButton-paused {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url("/img/player/player_boton_play.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.radioco-playButton-paused {
  background-image: url("/img/player/player_boton_pausa.png");
}
.radioco-nowPlaying {
  position: absolute;
  top: 0;
  left: 50px;
  width: 440px;
  height: 40px;
  font-size: 20px;
  font-family: "PlayerFont";
  color: #000000;
  overflow: hidden;
  background-color: rgb(246, 148, 148);
  border-radius: 20px;
  padding: 5px 20px;
}
.radioco-volume {
  position: absolute;
  top: 10px;
  left: 500px;
  width: 100px;
  background-color: transparent;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("/img/player/player_volumen_barra.png");
  background-repeat: no-repeat;
  background-size: 100px 15px;
  height: 40px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("/img/player/player_volumen_modulador.png");
  background-size: 25px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: relative;
  top: -12px;
}

@media only screen and (max-width: 1200px) {
  .radioco-nowPlaying {
    width: 200px;
  }
  .radioco-volume {
    position: absolute;
    top: 10px;
    left: 270px;
    width: 100px;
    background-color: transparent;
  }
}

@media screen and (min-width: 2000px) {
  .radioco-playButton-playing,
  .radioco-playButton-paused {
    width: 60px;
    height: 60px;
  }
  .radioco-nowPlaying {
    top: 5px;
    left: 70px;
    width: 800px;
    height: 50px;
    font-size: 25px;
  }
  .radioco-volume {
    top: 20px;
    left: 900px;
    width: 200px;
    background-color: transparent;
  }
  input[type="range"] {
    background-size: 200px 20px;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("/img/player/player_volumen_modulador.png");
    background-size: 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    position: relative;
    top: -8px;
  }
}
