.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-position: top center;
  background-size: cover;
}
.section1 .icons_desktop {
  position: absolute;
  top: 20px;
  right: 20px;
}
.section1 .icons_desktop .box {
  display: inline-block;
  vertical-align: top;
}
.section1 .model {
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -300px;
  width: 600px;
}

.section2 {
  padding-top: 10vh;
}
.section2 .title {
  width: 350px;
  margin-bottom: 20px;
}

.section3 {
  padding-top: 10vh;
}
.section3 .title {
  width: 350px;
  margin-bottom: 20px;
}

.videos iframe {
  width: 100% !important;
}
.icons_mobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .section1 .model {
    position: absolute;
    top: 30%;
    left: 0;
    margin-left: 0;
    width: 100%;
    z-index: 1;
  }
  .icons_desktop {
    display: none;
  }
  .icons_mobile {
    display: block;
    padding: 10px;
    z-index: 2;
  }

  .section2 {
    padding: 20px 0;
  }
  .section2 .title {
    text-align: center;
    width: 80%;
    margin: 20px auto;
  }

  .section3 {
    padding: 20px 0;
  }
  .section3 .title {
    text-align: center;
    width: 80%;
    margin: 20px auto;
  }
}
